* {
    box-sizing: border-box;
    font-size: 0px;
}
#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    height: 300px;
}
.boxes {
    border: 2px solid white;
    border-radius: 10px;
}
#box1 {
    background-color: tan;
    grid-column: 1 / 3;
}
#box2 {
    background-color: olivedrab;
    grid-column: 3 / 5;
}
#box3 {
    background-color: green;
    grid-column: 1 / 2;
}
#box4 {
    background-color: saddlebrown;
    grid-column: 2 / 5;
}
#box5 {
    background-color: black;
    grid-column: 1 / 5;
}

/* **SECOND SET OF BOXES** */

#container2 {
    margin-top: 100px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
}
.boxes2 {
    border: 2px solid white;
    border-radius: 10px;
}
#box6 {
    background-color: black;
    grid-column: 1 / 5;
}
#box7 {
    background-color: indigo;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}
#box8 {
    background-color: darkorchid;
    grid-column: 3 / 5;
}
#box9 {
    background-color: crimson;
    grid-column: 3 / 4;
}
#box10 {
    background-color: orangered;
    grid-column: 4 / 5;
}